body
{
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: 400;
   
}
*
{
    box-sizing: border-box;
    
}
/* Navbar */
.navbar-dark .navbar-nav .nav-link
{
    color: white;
}
.navbar .navbar-brand
{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar-collapse
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
/* Header */
header
{
    background-image: url(../images/item1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
header .layer
{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
header h1
{
    color: #fff;
    font-weight: 600;
    font-size: 5rem;    
    margin-bottom: 1.5rem!important;
    font-family: 'Roboto', sans-serif;
}
header p
{
    font-size: 2.5rem;
}
/* About Section */
.about .title
{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.about .full-info h2
{
    font-size: 2rem;
    font-weight: 500;
    color: #1e1e1e;
    position: relative;
   
 
}
.full-info h2:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    
}
.full-info p
{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 30px;
}
/* Services Section */
.services-intro h2
{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
    position: relative;
}
.services-intro p
{
    position: relative;
    color: black !important;
}
.services-intro p::before
{
    content: '';
    position: absolute;
    height: 5px;
    background-color: #0078ff;
    width: 50px;
    bottom: -12px; 
    left: 48%;
}
.services i
{
    background-color: white;
    border: solid 10px #0078ff;
    border-radius: 100px;
    padding: 20px;
    font-size: 3rem;
    color: #1e1e1e;
    margin-bottom: 10px;
    transition: color 1s , background-color 1s , border 1s ;
}
.services h3
{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #1e1e1e;
}
.services .item:hover i
{
    color: white;
    background-color: #0078ff;
    border: solid 10px #c9ced4;
}
/* Services Counter */
.numbers
{
    background-image: url(../images/item5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    position: relative;
    overflow: hidden;
}
.numbers .row::before
{
    content: '';
    position: absolute;
    background-color: rgba(0, 120, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    
}
.numbers i
{
    font-size: 1.7rem;
    padding: 1rem;
    border: solid 10px white;
    border-radius: 50%;
}
.element
{
    padding: 50px 0;
}
.element h5
{
    padding: 15px;
}

/* Portfolio */
.portfolio .item-img
{
    overflow: hidden;
}
.portfolio-intro h2
{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
    position: relative;
}
.portfolio-intro p
{
    position: relative;
}
.portfolio-intro p::before
{
    content: '';
    position: absolute;
    height: 5px;
    background-color: #0078ff;
    width: 50px;
    bottom: -12px; 
    left: 48%;
}
.portfolio .item-info h3
{
    font-size: 1.2rem;
    color: #1e1e1e;
    font-weight: 500;

}
.portfolio .item-icon i
{

    border: solid 1px #0078ff;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.5rem;
    color: #0078ff;
}
.portfolio .port img
{
    width: 100%;
    transition: transform 1s;
}
.portfolio .port:hover img
{
    transform: scale(1.2,1.2);
}
/* Work Section */
.work
{
    padding: 100px 0;
    background-image: url(../images/item2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;   
}
.work .work-text::before
{
    content: '';
    position: absolute;
    background-color: rgba(0, 120, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.carousel-item i
{
    color: #0078ff;
    font-size: 25px;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
}
/* Blog Section */
.blog p
{
    color: #1e1e1e;
}
.blog a
{
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s;
}
.blog .travel a
{
    position: relative;
}
.blog .blog-test a:hover
{
    color:#0062d3 ;
}
.blog  .travel .blog-test a::before
{
    content: 'TRAVEL';
    position: absolute;
    font-size: 15px;
    padding: 5PX;
    border-radius: 5px;
    width: 80px;
    bottom: 90%; 
    left: 40%;
    text-align: center;
    background-color: #0078ff;
    color: white;
}
.blog .blog-info span
{
    color: black;
    transition: color 1s;
}
.blog .blog-info span:hover
{
    color: #0062d3;
}
.blog .blog-hour
{
    font-size: 15px;
    color: #4e4e4e;
}
.blog .web a
{
    position: relative;
}
.blog  .web .blog-test a::before
{
    content: 'WEB DESIGN';
    position: absolute;
    font-size: 15px;
    padding: 5PX;
    border-radius: 5px;
    width: 100px;
    bottom: 90%; 
    left: 40%;
    text-align: center;
    background-color: #0078ff;
    color: white;
}
/* Contact Section */
.contact
{
    background-image: url(../images/item2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contact .contact-text::before
{
    content: '';
    position: absolute;
    background-color: rgba(0, 120, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.contact p
{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.contact i 
{
    padding: 10px;
}
.contact .contact-social i
{
    padding: 5px;
    color: black;
    font-size: 1.8rem;
    background-color: white;
    border: solid 3px #0062d3;
    border-radius: 50px;
    transition: background-color 0.7s, border 0.7s;
}
.contact .contact-social i:hover
{
    background-color: #0062d3;
    border: solid 3px #bbb6b6;
}
.contact .contact-title
{
    position: relative;
}
.contact .contact-title h5
{
    font-size: 2rem;
    font-weight: 500;
    color: #1e1e1e;
    position: relative;
    padding-bottom: 15px;
}
.contact .contact-title h5::before
{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0062d3 ;
    width: 100px;
    bottom: 12px;
}
.contact button
{
    background: rgba(9, 90, 182, 0.89);
    border: solid 1px transparent;
    border-radius: 5rem;
    padding: 10px 24px;
    color: #fff;
    transition: border 1s;
    margin-top: 10px;
}
.contact button:hover
{
    border: solid 1px #bbb6b6;
    background-color:  rgba(9, 90, 182, 0.5);;
}
/* Footer */
footer
{
    background-color: #0062d3;
    color: #fff;
    margin-bottom: .3rem;
    padding: 15px;
}
footer .special
{
    font-weight: bold;
}
footer p
{
    margin: 0;
}